.header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    font-family: --titillium, sans-serif;
    > a {
        margin: 0 10px;
        color: #fff;
        transition: color .4s ease-in-out ;
        padding: 20px;

        &:hover,
        &.active {
            color: #c343c3;
        }
    }
}
